<mat-card>
  <mat-card-header>
    <mat-card-title>Add document</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="documentForm" class="add-document__form">
      <mat-form-field appearance="outline" class="add-document__form--field">
        <mat-label>Document name</mat-label>
        <input matInput formControlName="documentName" required />
        <mat-error *ngIf="documentForm.get('documentName')?.hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="documentForm.get('documentName')?.hasError('maxlength')">Name cannot be more than 50 characters</mat-error>
      </mat-form-field>

      <div class="add-document__form--upload" *ngIf="!documentId">
        <input type="file" (change)="onFileSelected($event)" hidden #fileInput [accept]="acceptedFileType" />
        <button mat-stroked-button color="primary" (click)="fileInput.click()">Upload file</button>
        <span class="file-name truncate-text">{{ selectedFileName }}</span>
      </div>

      <div class="add-document__form--actions">
        <ng-container *ngIf="!documentId; else updateBtn">
          <button 
            mat-raised-button 
            color="secondary" 
            type="button" 
            (click)="saveDocument(statuses.Draft)" 
            [disabled]="!documentForm.valid || isLoading">
            Save as Draft
          </button>
          <button
            mat-raised-button 
            color="primary" 
            type="button" 
            (click)="saveDocument(statuses.ReadyForReview)" 
            [disabled]="!documentForm.valid || isLoading">
            Review
          </button>
        </ng-container>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<ng-template #updateBtn>
  <button mat-raised-button color="primary" type="button" (click)="updateDocument()" [disabled]="!documentForm.valid || isLoading">Update</button>
</ng-template>