<div class="login-form">
  <mat-card class="login-form__card">
    <mat-card-header class="login-form__header">
      <mat-card-title class="login-form__title">Sign in</mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-form__content">
      <form (ngSubmit)="login()" class="login-form__form">
        <mat-form-field appearance="outline" class="login-form__form-field">
          <mat-label class="login-form__label">Email</mat-label>
          <input matInput placeholder="Введіть ваш email" [(ngModel)]="email" name="email" required class="login-form__input">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="login-form__form-field">
          <mat-label class="login-form__label">Пароль</mat-label>
          <input matInput placeholder="Введіть ваш пароль" [(ngModel)]="password" name="password" type="password" required class="login-form__input">
        </mat-form-field>
  
        <button mat-stroked-button color="primary" type="submit" class="login-form__button">Enter</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>