:root {
  --max-content-width: 1360px;

  //Colors
  --button-secondary-bg: #d1f5f5;
  --button-primary-bg: #006a6a;
  --button-primary-color: #ffffff;
  --button-primary-hover-bg: #035555;

  --button-warn-bg: #ed8484;
  --button-warn-hover-bg: #e36262;
  --button-warn-color: #ffffff;
  
  --icon-warn-bg: #ed8484;
  --icon-warn-hover-bg: #e36262;
  --icon-warn-color: #ffffff;

  --button-warn-bg: #ed8484;
  --button-warn-hover-bg: #e36262;
  --button-warn-color: #ffffff;

  --title-primary-color: #006a6a;


}