.documents {
  max-width: var(--max-content-width);
  margin: 0px auto;
  padding: 0px 16px;
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &--filters {
      &-item {
        margin-right: 12px;
      }
    }
  }

  &__container--table {
    max-height: calc(100vh - 229px);
    overflow: auto;
  }


  &__table {
    tr {
      cursor: pointer;

      td {
        padding: 4px 12px;
      }
    }
    &--col {
      &-name { width: 30% }
      &-status { width: 20%; }
      &-creator { width: 20% }
      &-updated { width: 20%; }
      &-actions { width: 10% }
    }
  }
}

.actions {
  &__container {
    display: flex;
    gap: 8px;
  }
}

:host {
  mat-icon {
    font-size: 16px;
    line-height: 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-warn-color);

    &.warn {
      background-color: var(--icon-warn-bg);

      &:hover {
        background-color: var(--icon-warn-hover-bg);
      }
    }
  }
}